@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* custom height para componente ScrollSliderImages */
.custom-height div:nth-child(1) {
  @apply h-40 w-64;
}

.custom-height div:nth-child(2) {
  @apply h-64 w-32;
}

.custom-height div:nth-child(3) {
  @apply h-40 w-52;
}

.custom-height div:nth-child(4) {
  @apply h-72 w-72;
}

.custom-height div:nth-child(5) {
  @apply h-40 w-64;
}

.custom-height div:nth-child(6) {
  @apply h-64 w-32;
}

.custom-height div:nth-child(7) {
  @apply h-40 w-52;
}

.custom-height div:nth-child(8) {
  @apply h-72 w-72;
}

.custom-height div:nth-child(9) {
  @apply h-40 w-64;
}

.custom-height div:nth-child(10) {
  @apply h-64 w-32;
}

.custom-height div:nth-child(11) {
  @apply h-40 w-52;
}

.custom-height div:nth-child(12) {
  @apply h-72 w-72;
}